<div class="ion-page" #page>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> Blank </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" [scrollY]="false">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Header</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-button id="open-modal" expand="block">Open</ion-button>

    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Superman</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Batman</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Spider Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Underdog</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Captain Underpants</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fred Flintstone</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Wilma Flintstone</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pebbles Flintstone</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Dino</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Barney Rubble</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Betty Rubble</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bam Bam Rubble</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Barney Miller</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Dino</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Do the Bartman</ion-label>
      </ion-item>
    </ion-list>

    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" [presentingElement]="presentingElement">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Welcome</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" [scrollY]="false">
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Connor Smith</h2>
                <p>Sales Rep</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Daniel Smith</h2>
                <p>Product Designer</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Greg Smith</h2>
                <p>Director of Operations</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Zoey Smith</h2>
                <p>CEO</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>
